extends ../layouts/default

block intro
  .container: header.jumbotron.downloads-jumbo
    h1 Downloads
    p.tagline Download the Sleazy Company mods here

block content
  .container
    .alert.alert-warning.alert-dismissable
      button(type="button", data-dismiss="alert",aria-hidden="true").close &times;
      | Red items are the required mods included in the modpack, but are separated if you already have some installed. <strong>Blue</strong> items are highly recommended mods. <strong>Gray</strong> items are completely optional mods.
    section.row.download-items
      div(onclick="window.location.href='#'").download-item.focus.col-sm-12
        h3 Mod Pack
        span.filesize
          strong Filesize:
        |  ~40Mb
        <br>
        span.filename
          strong Filename:
        |  fileNameHere.rar
        <hr>
        p.download-description Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot.
      div(onclick="window.location.href='#'").download-item.col-sm-4.required
        h3 Required
        span.filesize
          strong Filesize:
        |  ~40Mb
        <br>
        span.filename
          strong Filename:
        |  fileNameHere.rar
        <hr>
        p.download-description Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot.
      div(onclick="window.location.href='#'").download-item.col-sm-4.required
        h3 Item
        span.filesize
          strong Filesize:
        |  ~40Mb
        <br>
        span.filename
          strong Filename:
        |  fileNameHere.rar
        <hr>
        p.download-description Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot.
      div(onclick="window.location.href='#'").download-item.col-sm-4.required
        h3 Item
        span.filesize
          strong Filesize:
        |  ~40Mb
        <br>
        span.filename
          strong Filename:
        |  fileNameHere.rar
        <hr>
        p.download-description Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot.
      div(onclick="window.location.href='#'").download-item.col-sm-4.recommended
        h3 Item
        span.filesize
          strong Filesize:
        |  ~40Mb
        <br>
        span.filename
          strong Filename:
        |  fileNameHere.rar
        <hr>
        p.download-description Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot.
      div(onclick="window.location.href='#'").download-item.col-sm-4.recommended
        h3 Recommended
        span.filesize
          strong Filesize:
        |  ~40Mb
        <br>
        span.filename
          strong Filename:
        |  fileNameHere.rar
        <hr>
        p.download-description Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot.
      div(onclick="window.location.href='#'").download-item.col-sm-4
        h3 Item
        span.filesize
          strong Filesize:
        |  ~40Mb
        <br>
        span.filename
          strong Filename:
        |  fileNameHere.rar
        <hr>
        p.download-description Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot.
      div(onclick="window.location.href='#'").download-item.col-sm-4.optional
        h2 Item
        span.filesize
          strong Filesize:
        |  ~40Mb
        <br>
        span.filename
          strong Filename:
        |  fileNameHere.rar
        <hr>
        p.download-description Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot.
      div(onclick="window.location.href='#'").download-item.col-sm-4
        h3 Item
        span.filesize
          strong Filesize:
        |  ~40Mb
        <br>
        span.filename
          strong Filename:
        |  fileNameHere.rar
        <hr>
        p.download-description Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot.
      div(onclick="window.location.href='#'").download-item.col-sm-4
        h3 Item
        span.filesize
          strong Filesize:
        |  ~40Mb
        <br>
        span.filename
          strong Filename:
        |  fileNameHere.rar
        <hr>
        p.download-description Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot.