extends ../layouts/default

block intro
	.container: header.jumbotron.media-jumbo
		h1 Media
		p.tagline Images and Videos from Op Nights

block content
	.container
		h2 Featured Video
		hr
		.flex-video.widescreen
			iframe(src='//www.youtube.com/embed/xB9AET58rPs',allowfullscreen='true',frameborder='0')
		h2 Images
		hr
		if galleries.length
			each gallery in galleries
				section.gallery
					.row: .col.lg-12
						h3= gallery.name
							if gallery.publishedDate
								.pull-right.text-muted= gallery._.publishedDate.format('MMMM Do YYYY')

					.row.gallery-images
						each image in gallery.images
							.col-xs-3.col-md-4.gallery-image
								a(href=image.url): img(src=image.thumbnail(512,512)).img-responsive
		else
			h3.text-muted There are no image galleries yet.
