extends ../layouts/default

block intro
	.container: header.jumbotron.media-jumbo
		h1 Media
		p.tagline Images and Videos from Op Nights

block content
	.container
		.row:.col-md-12.no-mobile-padding
			section.featured-video
				h2 Featured Video
				hr
				.col-md-7.col-centered
					.flex-video.widescreen
						iframe(src='//www.youtube.com/embed/' + featuredVideo,allowfullscreen='true',frameborder='0')

		if galleries.length
			.row:.col-sm-12.no-mobile-padding
				section.image-gallery
					h2 Images
					hr
					each gallery in galleries
						section.gallery
							.row: .col-lg-12.no-mobile-padding
								h3= gallery.name
									if gallery.publishedDate
										.pull-right.text-muted= gallery._.publishedDate.format('MMMM Do YYYY')

							.row.gallery-images
								each image in gallery.images
									.col-xs-3.col-md-4.gallery-image
										a(href=image.url): img(src=image.thumbnail(512,512)).img-responsive
