extends ../layouts/default

block intro
	.container: header.jumbotron.gallery-jumbo
			h1 Media

block content
	.container
		h2 Featured Video
		hr
		.flex-video.widescreen
			iframe(src='//www.youtube.com/embed/xB9AET58rPs',allowfullscreen='true',frameborder='0')
		h2 Images
		hr
		if galleries.length
			each gallery in galleries
				h3= gallery.name
					if gallery.publishedDate
						.pull-right.text-muted= gallery._.publishedDate.format('MMMM Do YYYY')

				.row.gallery-images
					each image in gallery.images
						.col-sm-6.col-md-3.gallery-image
							a(href=image.url): img(src=image.thumbnail(768,768,{"jpg_with_quality": 10})).img-responsive
		else
			h3.text-muted There are no image galleries yet.
