extends ../layouts/default

block intro
	.container: header.jumbotron.home-jumbo
		h1 Sleazy Company
		p.tagline _TAGLINE HERE_

block content
	.container
		.row.cards
			.col-lg-4.col-sm-6.card
				h3 Featured Video
				hr
				.flex-video.widescreen
					iframe(src='//www.youtube.com/embed/xB9AET58rPs',allowfullscreen='true',frameborder='0')

			.col-lg-4.col-sm-6.card
				h3 This is Sleazy Company, soldier!
				p Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot. circumstances have taught me that a man's ethics are the only possessions he will take beyond the grave. i once heard a wise man say there are no perfect men. only perfect intentions. it only took me six days. same time it took the lord to make the world.
				p multiply your anger by about a hundred, kate, that's how much he thinks he loves you. mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot. cities fall but they are rebuilt. heroes die but they are remembered. circumstances have taught me that a man's ethics are the only possessions he will take beyond the grave.
				p it only took me six days. same time it took the lord to make the world. i once heard a wise man say there are no perfect men. only perfect intentions. i don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. well, what is it today? more spelunking?

			//- .col-lg-4.col-sm-6.twitter-widget.card
			//- 	h3
			//- 		a(href='//twitter.com/SleazyCompany') @SleazyCompany
			//- 	a.twitter-timeline(data-dnt="true",href="https://twitter.com/sleazycompany/sleazy-company",data-widget-id="443185826113933312",data-chrome="noheader nofooter transparent noscrollbar noborders")
			//- 	script.
			//- 		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			section.faq.col-lg-4.col-sm-6.card
				h3 Frequently Asked Questions
				hr
				.faq-item
					h4.question How did you get the name Sleazy Company?
					p.answer Yes
				.faq-item
					h4.question How did you get the name Sleazy Company?
					p.answer Yes
				.faq-item
					h4.question How did you get the name Sleazy Company?
					p.answer Yes
				.faq-item
					h4.question How did you get the name Sleazy Company?
					p.answer Yes