extends ../layouts/default

block intro
	.container: header.jumbotron.home-jumbo
		h1 Sleazy Company
		p.tagline It's all skulbuny's fault!

block content
	.container
		.row.cards
			.col-sm-3.card
				h3 Hello world!
				p Lorem ipsum dolor sit amet.
			.col-sm-3.card
				h3 Hello world!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.col-sm-3.card
				h3 Hello world!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor orci, hendrerit non massa vel, mattis congue sapien. Curabitur non ligula viverra purus vehicula egestas sit amet et nisl. Nam blandit mattis mi, id ultricies nisi elementum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor orci, hendrerit non massa vel, mattis congue sapien. Curabitur non ligula viverra purus vehicula egestas sit amet et nisl. Nam blandit mattis mi, id ultricies nisi elementum eu.
			.col-sm-3.card
				h3 Hello world!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor orci, hendrerit non massa vel, mattis congue sapien. Curabitur non ligula viverra purus vehicula egestas sit amet et nisl. Nam blandit mattis mi.
			.col-sm-3.card
				h3 Hello world!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor orci, hendrerit non massa vel, mattis congue sapien. Curabitur non ligula viverra purus vehicula egestas sit amet et nisl. Nam blandit mattis mi, id ultricies nisi elementum eu.
			.col-sm-3.card
				h3 Hello world!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor orci, hendrerit non massa vel, mattis congue sapien.
			.col-sm-3.card
				h3 Hello world!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor orci, hendrerit non massa vel, mattis congue sapien. Curabitur non ligula viverra purus vehicula egestas sit amet et nisl. Nam blandit mattis mi, id ultricies nisi elementum eu.
			.col-sm-3.card
				h3 Hello world!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor orci, hendrerit non massa vel, mattis congue sapien. Curabitur non ligula viverra purus vehicula egestas sit amet et nisl. Nam blandit mattis mi, id ultricies nisi elementum eu.