extends ../layouts/default

block content
	.container: .row: .col-sm-12
		article
			if !data.post
				header
					h2 Invalid Post.
			else
				header.jumbotron.post-jumbo
					h2
						= data.post.title
					if data.post.subtitle
						h3
							= data.post.subtitle
				.post

					header.post-header
						if data.post.mission
							h4.meta-title Mission(s)
							span.meta-detail
								!= data.post.mission
						if data.post.missionDateTime
							h4.meta-title Mission Date
							span.meta-detail
								= data.post.missionDateTime
							h4.meta-title Mission Time
							span.meta-detail
								= data.post.missionDateTime
						if data.post.etc
							h4.meta-title ETC
							span.meta-detail
								= data.post.etc
					section.post-content
						!= data.post.content.full