extends ../layouts/default

block head

	//- Twitter Card Support
	meta(name="twitter:card", content="summary")
	meta(name="twitter:site", content="@sleazycompany")
	if data.post.twitterCreator
		meta(name="twitter:creator", content=data.post.twitterCreator)
	else
		meta(name="twitter:creator", content="@sleazycompany")
	meta(name="twitter:title", content=data.post.title)
	meta(name="twitter:description", content=data.post.twitterDescription)

block content
	.container: .row: .col-sm-12.no-mobile-padding
		article
			if !data.post
				header
					h2 Invalid Post.
			else
				header.jumbotron.post-jumbo
					h2
						= data.post.title
					if data.post.subtitle
						h3
							span(data-text=data.post.subtitle).teletype
								= data.post.subtitle

				if user && user.canAccessKeystone
					a(href="/keystone/posts/" + data.post.id).edit-button
						i.fa.fa-pencil &nbsp;
						| Edit Post

				.post
					header.post-header
						if data.post.mission
							span.meta-title Mission(s)
							span.meta-detail
								!= data.post.mission
						if data.post.missionDateTime
							span.meta-title Mission Date & Time
							span.meta-detail
								= data.post.missionDateTime
						if data.post.etc
							span.meta-title ETC
							span.meta-detail
								= data.post.etc
							span  hours
						if data.post.includeSeparator
							hr
					section.post-content
						!= data.post.content.full