extends ../layouts/default

block content
	.container: .row: .col-sm-12.no-mobile-padding
		article
			if !data.post
				header
					h2 Invalid Post.
			else
				header.jumbotron.post-jumbo
					h2
						= data.post.title
					if data.post.subtitle
						h3
							span(data-text=data.post.subtitle).teletype
								= data.post.subtitle
							span.blink _
				.post

					header.post-header
						if data.post.mission
							span.meta-title Mission(s)
							span.meta-detail
								!= data.post.mission
						if data.post.missionDateTime
							span.meta-title Mission Date & Time
							span.meta-detail
								= data.post.missionDateTime
						if data.post.etc
							span.meta-title ETC
							span.meta-detail
								= data.post.etc
							span  hours
						hr
					section.post-content
						!= data.post.content.full

block js
	script(src="/js/jquery.blink.js")
	script.
		$(document).ready(function()
		{
			$('.blink').blink(); // default is 500ms blink interval.
			//$('.blink').blink({delay:100}); // causes a 100ms blink interval.
		});
