extends ../layouts/default

block content
	.container: .row: .col-sm-12
		article
			if !data.post
				header
					h2 Invalid Post.
			else
				header.jumbotron.post-jumbo
					h2
						= data.post.title
					if data.post.subtitle
						h3
							= data.post.subtitle
				.post
					!= data.post.content.full