include ../mixins/flash-messages

doctype html
html(manifest="sleazycompany.appcache")

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="google-site-verification", content="wflBbQFPDik8DlOpLhcF8zcMLNsKBpHa4gMAMO3z2GM")

		title= title || 'Sleazy Company'
		link(rel="icon", href="/favicon.png", type="image/png")
		<!--[if IE]>
		<link rel="shortcut icon" href="http://www.example.com/alternateimage.ico"/>
		<![endif]-->

		//- Customise the stylesheet for your site by editing /public/styles/site.less
		//- All .less files will be automatically compiled and minified in production.

		link(href="/styles/site.min.css", rel="prefetch stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		<!--[if lt IE 9]><!-->
		script(src="/js/modernizr.min.js")
		<!--<![endif]-->

		//- Prefetching

		link(rel="prefetch", href="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js")
		link(rel="prefetch", href="//fonts.googleapis.com/css?family=Exo+2:400,200,700%7COpen+Sans:400,700&subset=latin,latin")
		link(rel="prefetch", href="//cdn.syndication.twimg.com/widgets/timelines/443185826113933312")
		link(rel="prefetch", href="/js/lib/jquery/jquery-2.1.0.min.js")
		link(rel="prefetch", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body.site
		main.content-wrap
			//- HEADER
			header.main-header: .container

				//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
				//- ... or completely change this header to suit your design.

				.container
					nav(role="navigation").navbar.navbar-default.navbar-fixed-top.main-nav
						.container
							.navbar-header
								button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
							.collapse.navbar-collapse
								ul.nav.navbar-nav.navbar-left
									each link in navLinks
										li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
								ul.nav.navbar-nav.navbar-right
									if user
										li.dropdown
											a(href="#", data-toggle="dropdown", data-no-instant).dropdown-toggle
												| Tools
												b.caret
											ul.dropdown-menu
												li: a(href="/keystone", data-no-instant)
													| Control Panel
												li: a(href='/keystone/signout',data-no-instant)
													| Sign Out
									else
										li: a(href='/keystone/signin',data-no-instant) Sign In

			//- BODY
			#body

				//- NOTE:
				//- There is no .container wrapping class around body blocks to allow more flexibility in design.
				//- Remember to include it in your templates when you override the intro and content blocks!

				//- The Intro block appears above flash messages (used for temporary information display)
				block intro

				//- Flash messages allow you to display once-off status messages to users, e.g. form
				//- validation errors, success messages, etc.
				+flash-messages(messages)

				//- The content block should contain the body of your template's content
				block content


		//- FOOTER
		footer.main-footer: .container

			p.copyright-info &copy;2014 Sleazy Company. Site designed with <i class="love fa fa-heart"></i> by <a href="http://skulbuny.com">Sean Clayton.</a> Source code on <a href="http://github.com/skulbuny/sleazycompany"><i class="fa fa-github"></i></a>


		//- Bottom of the totem-pole shit

		//- Font Awesome
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")

		//- JAVASCRIPT

		//- jQuery 1.11.0 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.0 (also bundled) for better performance.
		script(src='/js/lib/jquery/jquery-2.1.0.min.js')

		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.1.0.min.js
		script(src='/js/lib/bootstrap/bootstrap-3.1.0.min.js')

		//- Google Fonts Library
		script(type='text/javascript', async).
			WebFontConfig = {
				google: { families: [ 'Exo+2:400,200,700:latin', 'Open+Sans:400,700:latin' ] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
					'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();

		script(src='/js/instantclick.min.js', data-no-instant)
		script(data-no-instant).
			InstantClick.init();
		script(src="/js/jquery.typewriter.new.js", data-no-instant)
		script(type="text/javascript", data-no-instant).
			$('.teletype').typewrite({
				'delay': 80, //time in ms between each letter
				'extra_char': '<span class="cursor">&#9613;</span>', //"cursor" character to append after each display
				'trim': true, // Trim the string to type (Default: false, does not trim)
				'callback': null // if exists, called after all effects have finished
			});

		include ../includes/analytics

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/js/editor.js')

		//- Include template-specific javascript files by extending the js block
		block js
