.main-content {
  text-shadow: 0 1px 0 rgba(0,0,0,1);
  padding: .5em 2em 2em 2em;
  background-color: rgba(0,0,0,.5);
  #gradient > .vertical(desaturate(darken(@green, 25%), 70%); desaturate(darken(@green, 30%), 70%));
}

article {
  .post {
    padding: 3em 4em;

    p {
      font-size: 1em;
      line-height: 1.5em;
      margin: 1em auto;
    }
    p[last-child] {
      margin-bottom: 0;
    }

    @media only screen and (max-width: @screen-sm-max) {
      padding: 2em;
    }
    @media only screen and (max-width: @screen-xs-max) {
      padding: 1em;
    }
  }
}

.post-header {
  .meta-title {
    font-size: 1.75em;
  }
  .meta-detail {
    font-size: 1em;
  }
}

.post {
  background: @gray-darker;
  padding: 1em;
  margin: 0 0 2em 0;
  text-shadow: 0 1px 0 rgba(0,0,0,1);
  -webkit-box-shadow: 0 3px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 3px 0 rgba(0,0,0,.15);
  box-shadow: 0 3px 0 rgba(0,0,0,.15);

  h2 {
    margin: 0 0 0 0;
  }

  .lead {
    font-size: 1em;
  }

  @media only screen and (max-width: @screen-sm-max) {
    box-shadow: 0 8px 12px rgba(0,0,0,.25);
  }
}

.gallery {
  padding: 0 1em;
}

.gallery-image {
  display: inline-block;
  padding: 0;
  -webkit-transition: .1s ease -webkit-transform, 1s ease background-image;
  transition: .1s ease transform, 1s ease background-image;
  &:hover {
    z-index: 1000;
    -webkit-transform: scale(@scale);
    transform: scale(@scale);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
  }
}
.faq-item {
  margin: 0 0 2em 0;

  .question {
    margin: 0;
    font-style: italic;
  }
  .answer {
    text-align: left;
  }
}

.download-items {
  padding: 0 1em;
}

section.download-item {
  .transition(ease background-image 1s);
}

.download-item-gradient (@color, @a-start, @a-end) {
  @r: red(@color);
  @g: green(@color);
  @b: blue(@color);
  background-image: linear-gradient(to bottom right, rgba(@r,@g,@b,@a-start), rgba(@r,@g,@b,@a-end)), @noise-bg;
}

.download-item {
  display: inline-block;
  background: #0c0c0c;
  height: 24em;
  overflow-y: auto;
  text-shadow: 0 1px 0 black;
  -webkit-transition: .1s ease -webkit-transform, .1s ease box-shadow;
  .transition(.1s ease transform, .1s ease box-shadow);
  .download-item-gradient(#fff, .3, .2);
  .user-select(none);

  &:hover {
    .scale(@scale);
    cursor: pointer;
    position: relative;
    z-index: 1000 !important;
    box-shadow: 0 0 250px rgba(0,0,0,.5);
    .download-item-gradient(#fff, .45, .2);
  }

  &.main-pack {
    @color: gold;
    .download-item-gradient(@color, .7, .45);
    &:hover {
      border: 1px solid fade(@color, 80%);
      .scale(@scale);
      .download-item-gradient(@color, .85, .45);
    }
  }
  &.recommended-pack {
    @color: @brand-primary;
    .download-item-gradient(@color, .7, .45);
    &:hover {
      border: 1px solid @color;
      .scale(@scale);
      .download-item-gradient(@color, .85, .45);
    }
  }
  &.barebones-pack {
    @color: #eee;
    color: #fff;
    .download-item-gradient(@color, .7, .45);
    &:hover {
      border: 1px solid @color;
      .scale(@scale);
      .download-item-gradient(@color, .85, .45);
    }
  }
  &.required {
    @color: @brand-danger;
    .download-item-gradient(@color, .45, .375);
    &:hover {.download-item-gradient(@color, .75, .375);}
  }
  &.recommended {
    @color: @brand-primary;
    .download-item-gradient(@color, .45, .375);
    &:hover {.download-item-gradient(@color, .75, .375);}
  }

  h3 {
    font-size: 2.33em;
  }
}