.main-footer {
  display: table;
  background: rgba(0,0,0,.25);
  height: @footer-height;
  width: 100%;
  padding: 1em 0 0 0;

  .copyright-info {
    cursor: default;
    margin: 0 auto;
    line-height: 1em;
    font-size: 1em;
    color: #555;
    text-align: center;
    text-shadow: 0 1px 0 black;
  }
}