html, body {
  height: 100%;
  margin: 0;
  padding: 1.5em 0 0 0;
  background-color: @body-bg;
}

.row {
  @media only screen and (max-width: @screen-xs-max) {
    margin: 0;
  }
}

.container {
	@media only screen and (max-width: @screen-xs-max) {
    margin: 0;
    padding: 0;
  }
}
