html, body {
  height: 100%;
  margin: 0;
  padding: 0 0 0 0; // This is how much space is between the main content and the navbar
  background-color: @body-bg;
  background-image: @body-bg-img;
  background-size: 150px 150px;
}

.row {
  @media only screen and (max-width: @screen-xs-max) {
    margin: 0;
  }
}

.container {
	@media only screen and (max-width: @screen-xs-max) {
    margin: 0;
    padding: 0;
  }
}

.content-wrap {
  min-height: 100%;
  margin-bottom: -(@footer-height);

  &:after {
    height: @footer-height + 2em;
    content: "";
    display: block;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li, strong, em {
  &:hover {
    cursor: default;
  }
}
