html, body {
  height: 100%;
  background-color: @body-bg;
  background-image: @body-bg-img;
  background-size: 150px 150px;
  margin: 0;
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
  padding: 0 0 0 0;

  @media (max-width: @screen-xs-max) {
    overflow: hidden;
    padding: 0 0 0 15px;
  }
}

.nav {
  li {
    text-shadow: 0 1px 0 black;
  }
}

.navbar-default .navbar-nav {
  .active {
    a:hover, a:focus {
      background: @navbar-default-link-active-hover-bg;
    }
  }
}

.main-header {
  padding: 30px 0 0 0;
}

#wrap {
  @gradient-opacity-start: 0; // Decimal value eg. .25, 1, 0
  @gradient-opacity-end: .75; // Decimal value eg. .25, 1, 0
  background-image: -moz-radial-gradient(center, ellipse cover,  hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,@gradient-opacity-end) 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,hsla(0,0%,0%,0)), color-stop(100%,hsla(0,0%,0%,@gradient-opacity-end)));
  background-image: -webkit-radial-gradient(center, ellipse cover,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,@gradient-opacity-end) 100%);
  background-image: -o-radial-gradient(center, ellipse cover,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,@gradient-opacity-end) 100%);
  background-image: -ms-radial-gradient(center, ellipse cover,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,@gradient-opacity-end) 100%);
  background-image: radial-gradient(ellipse at center,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,@gradient-opacity-end) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#40000000',GradientType=1 );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -(@footer-height) 0;
  padding: 3em 0 @footer-height 0;
}

.jumbotron {
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,1);
  cursor: default;
  background-image: @grid-pattern;
  background-size: 50px 50px;
  background-position: center center;

  h1, h2 {
    margin: 0 0 0 0;
    text-transform: uppercase;
  }
  h2 {
    font-size: 3em;
  }
  p.tagline {
    font-family: @headings-font-family;
    text-transform: uppercase;
    margin: 1em 0 0 0;
  }
}

.home-jumbo {
  background-color: @home-jumbo-bg;
}
.downloads-jumbo {
  background-color: @downloads-jumbo-bg;
}
.intel-jumbo {
  background-color: @intel-jumbo-bg;
}
.media-jumbo {
  background-color: @media-jumbo-bg;
}
.post-jumbo {
  img {
    width: 100%;
  }
}

.main-content {
  text-shadow: 0 1px 0 rgba(0,0,0,1);
  padding: .5em 2em 2em 2em;
  background-color: rgba(0,0,0,.5);
  #gradient > .vertical(desaturate(darken(@green, 25%), 70%); desaturate(darken(@green, 30%), 70%));
}

.main-footer {
  background: rgba(0,0,0,.5);
  height: @footer-height;
  bottom: 0;
  width: 100%;
  position: absolute;
  border-top: 1px solid rgba(0,0,0,.75);
  padding: @footer-padding 0 0 0;

  .copyright-info {
    color: #555;
    text-align: center;
    text-shadow: 0 1px 0 black;
  }
}

article {
  .post {
    padding: 3em 4em;

    p {
      font-size: 1.2em;
      line-height: 1.75em;
      margin: 1em auto;
    }
    p[last-child] {
      margin-bottom: 0;
    }

    @media only screen and (max-width: @screen-sm-max) {
      padding: 2em;
    }
    @media only screen and (max-width: @screen-xs-max) {
      padding: 1em;
    }
  }
}

.post-header {
  .meta-title {
    font-size: 1.75em;
  }
  .meta-detail {
    font-size: 1em;
  }
}

.post {
  background: @gray-darker;
  padding: 1em;
  margin: 0 0 2em 0;
  text-shadow: 0 1px 0 rgba(0,0,0,1);
  -webkit-box-shadow: 0 3px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 3px 0 rgba(0,0,0,.15);
  box-shadow: 0 3px 0 rgba(0,0,0,.15);

  h2 {
    margin: 0 0 0 0;
  }

  .lead {
    font-size: 1em;
  }

  @media only screen and (max-width: @screen-sm-max) {
    box-shadow: 0 8px 12px rgba(0,0,0,.25);
  }
}

.gallery-image {
  display: inline-block;
  padding: 0;
  -webkit-transition: .1s ease -webkit-transform, 1s ease background-image;
  transition: .1s ease transform, 1s ease background-image;
  &:hover {
    z-index: 1000;
    -webkit-transform: scale(@scale);
    transform: scale(@scale);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
  }
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

.faq-item {
  margin: 0 0 2em 0;

  .question {
    margin: 0;
    font-style: italic;
  }
  .answer {
    text-align: left;
  }
}

.twitter-widget {
  display: inline-block;
  min-height: 360px;
}

#instantclick-bar {
  height: 2px;
}

.download-items {
  padding: 0 1em;
}

section.download-item {
  .transition(ease background-image 1s);
}

.download-item-gradient (@color, @a-start, @a-end) {
  @r: red(@color);
  @g: green(@color);
  @b: blue(@color);
  background-image: linear-gradient(to bottom right, rgba(@r,@g,@b,@a-start), rgba(@r,@g,@b,@a-end)), @noise-bg;
}

.download-item {
  display: inline-block;
  background: #0c0c0c;
  height: 24em;
  overflow-y: auto;
  text-shadow: 0 1px 0 black;
  -webkit-transition: .1s ease -webkit-transform, 1s ease background-image;
  transition: .1s ease transform, 1s ease background-image;
  .download-item-gradient(#fff, .3, .2);

  &:hover {
    -webkit-transform: scale(@scale);
    transform: scale(@scale);
    cursor: pointer;
    position: relative;
    z-index: 1000 !important;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    .download-item-gradient(#fff, .45, .2);
  }

  &.focus {
    z-index: 1000;
    .download-item-gradient(#fd3, .6, .375);
    -webkit-transform: scale(@scale);
    transform: scale(@scale);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border: 1px solid fade(#fd3, 80%);
    &:hover {
      box-shadow: 0 0 20px rgba(0,0,0,.5);
      -webkit-transform: scale(@scale + .025);
      transform: scale(@scale + .025);
      .download-item-gradient(#fd3, .75, .375);
    }
  }
  &.required {
    .download-item-gradient(@brand-danger, .45, .375);
    &:hover {.download-item-gradient(@brand-danger, .75, .375);}
  }
  &.recommended {
    .download-item-gradient(@brand-primary, .45, .375);
    &:hover {.download-item-gradient(@brand-primary, .75, .375);}
  }

  h3 {
    font-size: 2.33em;
  }
}