.main-nav {
  margin-bottom: 0;
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
  padding: 0 0 0 0;

  @media (max-width: @screen-xs-max) {
    overflow: hidden;
    padding: 0;
  }
}

.navbar-right {
  padding: 0 1em 0 0;
}

.nav {
  li {
    text-shadow: 0 1px 0 black;
  }
}

.navbar-header {
  @media only screen and (max-width: @screen-xs-max) {
    padding: 0 1em 0 1em;
  }
}

.navbar-default .navbar-nav {
  li {
    a {
      padding: 1em 1.5em;

      @media (max-width: @screen-xs-max) {
        padding: .5em 1em;
      }
    }
  }
  .active {
    a:hover, a:focus {
      background: @navbar-default-link-active-hover-bg;
    }
  }

  @media only screen and (max-width: @screen-xs-max) {
    padding: 0 2em 0 2em;
  }
}
